
.container {
	position: relative;
}

.container span {
	position: absolute;
	float: left;
	left: 0;
	top: 8%;
	margin: 0 6%;
	font-size: 5em;
	font-family: "Helvetica", Arial, sans-serif;
	background-color: black;
	color: white;
	opacity: .55;
}

.container .valedictory {
	text-align: right;
}